.register{
  background: $purple;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 50px 60px 50px;
    &-title{
      font-weight: 700;
      font-size: 36px;
      line-height: 41px;
      text-align: center;
      color: #4D4D4D;
    }
    &-input{
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #C4C4C4;
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      padding: 16.5px 14px;
      border-radius: 4px;
    }
    &-label{
      display: flex;
      column-gap: 30px;
      margin: 50px 0 50px;
    }
    &-left{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
    }
    &-right{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
    }
    &-btn{
      padding: 12px 148px;
    }
    &-link{
      color: $purple;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      margin-top: 30px;
      cursor: pointer;
      transition: .5s;
      &:hover{
        transition: .5s;
        font-size: 20px;
        text-decoration: underline;
        text-underline-offset: 7px;
      }
    }
  }
}