.start{
  position: relative;
  margin-bottom: 100px;
  Button{
    position: absolute;
    top: 425px;
    left: 60px;
    z-index: 3;
  }
  &__title{
    position: absolute;
    top: 115px;
    left: 0;
    z-index: 2;
    background: rgba(99, 99, 99, 0.9);
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    width: 800px;
    height: 250px;
    padding: 63px 85px 63px 86px;
  }
}